    <div class="text-center"><br><br><br><br>
     <h1>なにもありません</h1>
    </div>
    <div class="container">
      <% if user_signed_in? %>
        <% if current_user.admin? %>
            <%= form_with model: @fishing_park, local:true do |f| %>
              <label>image</label><br>
                <p><%= f.attachment_field :image %></p>
              <label>address</label>
                <p><%= f.text_field :address %></p>
              <label>name</label>
                <p><%= f.text_field :name %></p>
               <label>fee</label>
                <p><%= f.text_field :fee %></p>
              <label>children_fee</label>
                <p><%= f.text_field :children_fee %></p>
              <label>tour_fee</label>
                <p><%= f.text_field :tour_fee %></p>
              <label>children_tour_fee</label>
                <p><%= f.text_field :children_tour_fee %></p>
              <label>URL</label>
                <p><%= f.text_field :body %></p>
              <%= f.submit 'Update' %>
            <% end %>
        <% end %>
      <% end %>
    </div>
