  <div class="container">
    <h1>いいね多いランキング</h1><br>
  </div>
  <div class="text-center">
    <% @all_ranks.each do |fishing_park| %>
      <div class="row">
        <%= link_to fishing_park_path(fishing_park.id) do %>
          <div class="col-md-3">
            <%= attachment_image_tag fishing_park, :image, size:'180x180' %>
          </div>
          <div class="col-md-5">
            <div style="height: 40px;">
              <p>名称 ： <%= fishing_park.name %></p>
            </div>
            <div style="height: 40px;">
              <p>住所 ： <%= fishing_park.address %></p>
            </div>
            <div style="height: 60px;">
              <h4>料金</h4>
              <p><%= fishing_park.fishing_fee %></p>
            </div>
            <div style="height: 50px;">
              <p><%= fishing_park.fishing_children_fee %></p>
            </div>
          </div>
          <div class="col-md-4">
            <div style="height: 50px;">
              <h4>入園料(見学の人)</h4>
              <p><%= fishing_park.tour_fee %></p>
              <p><%= fishing_park.children_tour_fee %></p>
            </div>
          </div>
        <% end %><br><br><br><br><br><br><br>

        <div id="favorite_<%= fishing_park.id %>">
           <%= render partial: 'fishing_parks/favorite', locals: { fishing_park: fishing_park} %>
        </div>

        <% if user_signed_in? %>
          <% if current_user.admin? %><br>
            <%= link_to "編集", edit_fishing_park_path(fishing_park.id) %>
            <%= link_to "削除する", fishing_park_path(fishing_park.id), method: :delete, "data-confirm" => "削除しますか？" %>
          <% end %>
        <% end %>
      </div>
      <hr>
    <% end %>
  </div>