  <div class="col-xs-12 col-md-6">
    <p>レビューを書く</p>
      <% if @review.errors.any? %>
        <div class="notification is-danger">
          <h2><%= @review.errors.count %>件のエラーがあります。</h2>
          <ul>
            <% @review.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="rating-box">
        <%= form_with model: @review, url: fishing_park_reviews_path(@fishing_park), local: true do |f| %>
        <span>評価</span>
          <div class="ratings">
            <!--星をつけ0~5個で評価する-->
            <span class="fa fa-star-o" id="star"></span>
            <span class="fa fa-star-o" id="star"></span>
            <span class="fa fa-star-o" id="star"></span>
            <span class="fa fa-star-o" id="star"></span>
            <span class="fa fa-star-o" id="star"></span>
          </div>
           <!--星が5個あるためわかりやすく表示-->
          <div class="rating-value-display"><span id="rating-value-display">0</span>/5</div>
          <!--どの海釣り公園に結び付けられているレビューかを記述-->
          <%= f.hidden_field :fishing_park_id, value: @fishing_park.id %>
          <%= f.hidden_field :score, id: "rating-value" %>
          <div class="1">
            <%= f.text_area :content, size: "30x5", class: "form-control" %>
          </div>
          <p><%= f.submit "保存", class: "button mt-3 btn btn-primary" %>
          <p><%#= link_to "他のレビューを見る", fishing_park_reviews_path(@fishing_park), class: "button light ml-3 mt-3" %>
          <hr>
        <% end %>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <% @reviews.each do |review| %>
        <div style ='margin-bottom:20px'>
          <div class='row'>
            <div class='col-xs-3'>評価</div>
            <div class='col-xs-9'>
              <% review.score.times do %>
                <span class="fa fa-star-o" id="star"></span>
              <% end %>
            </div>
          </div><hr>
          <div class="row">
            <div class="col-xs-3">内容</div>
            <div class="col-xs-9"><%= review.content %></div>
          </div><hr>
          <div class="row">
            <div class="col-xs-12">
               <%= link_to "削除", fishing_park_review_path(@fishing_park.id,review), method: :delete, "data-confirm" => "削除しますか？", class: "btn btn-danger" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-xs-12 col-md-12 text-center">
      <label><h2>地図</h2></label>
      <hr>
      <h2><%= link_to 'この地図のGoogleMapへ', @fishing_park.map_body, target: :_blank %></h2>
      <hr>
      <p><%= attachment_image_tag @fishing_park, :map_image, size:'1300x1000' %></p>
    </div>
  </div>

    <%= javascript_include_tag 'reviews.js' %>