<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav class='nav navbar-nav navbar-left' >
      <span>fishing&fish</span>
    </nav>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li><%= link_to 'マイページ', user_path(current_user), class: "btn btn-default navbar-btn" %></li>
          <li><%= link_to '釣り一覧', fishing_parks_path, class: "btn btn-default navbar-btn" %></li>
          <li><%= link_to '魚一覧', fish_fishing_park_path(current_user), class: "btn btn-default navbar-btn" %></li>
           <li><%= link_to 'ランキング', rank_fishing_parks_path(current_user), class: "btn btn-default navbar-btn" %></li>
          <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "btn btn-default navbar-btn" %></li>
        <% else %>
          <li><%= link_to 'About', about_path, class: "btn btn-default navbar-btn" %></li>
          <li><%= link_to 'Top', root_path, class: "btn btn-default navbar-btn" %></li>
          <li><%= link_to '新規登録', new_user_registration_path, class: "btn btn-default navbar-btn"%></li>
          <li><%= link_to 'ログイン', new_user_session_path, class: "btn btn-default navbar-btn"%></li>
        <% end %>
        <% if user_signed_in? %>
          <%= form_with url: search_fishing_parks_path, method: :get, local: true do |f| %>
            <%= text_field_tag :search_word %>
            <%= submit_tag '検索', :name => nil %>
          <% end %>
        <% end %>
      </ul>
    </nav>
  </div>
</header>